# Importamos librerias

In [1]:
import pandas as pd
import numpy as np

In [2]:
try:
    df = pd.read_csv("muertes_edad.csv",sep=';' ,encoding='latin-1')
    df

except UnicodeDecodeError:
  print("ERROR")

In [3]:
df.head()

  EDADES  FALLECIDOS   AÑO
0    0-5          18  2016
1   6-10          19  2016
2  11-15          34  2016
3  16-20         219  2016
4  21-25         260  2016

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EDADES      104 non-null    object
 1   FALLECIDOS  104 non-null    int64
 2   AÑO         104 non-null    int64
dtypes: int64(2), object(1)
memory usage: 2.6+ KB

In [5]:
#datos nulos?
df.isnull().sum().sum()

0

In [6]:
def categorizar_edades(edad):
    # Elimina espacios en blanco al principio y al final del valor
    edad = edad.strip()

    if edad in ['0-5', '6-10']:
        return 'Niños'
    elif edad in ['11-15', '16-20']:
        return 'Jovenes'
    elif edad in ['21-25', '26-30', '31-35', '36-40', '41-45', '46-50', '51-55', '56-60']:
        return 'Adultos'
    elif edad in ['60-100']:
        return 'Viejos'



df['Categoria'] = df['EDADES'].apply(categorizar_edades)

# Descargamos el dataset 
### para luego utilizarlo mas adelante

In [7]:
df.to_csv("procesadas_muertes_edad",index=False,sep=';',)